extends template.pug

block js_script
  script(src="/js/update.js" defer=true)
block content
  h1.form-heading Update a Todo
  form.create-form(action='/update_todo' method='PUT')
    p
      label(for='title') Title:
      br
      input#title(type='text' name='title' placeholder='Todo title' required=true value=title)
    p.done-input-p
      label(for="done") Done: 
      input#done-input(type='checkbox' name='done' checked=done === 1) 
    p
      label(for='deadline') Deadline:
      br
      input#deadline(type='date' name='deadline' required=true value=deadline)
    p
      input.form-btn.form-update-btn(type='submit' value='Submit' data-todo-id=id)